<html>
<body>
<title>Drink Drank Drunk</title>

<style type="text/css">

#box {
    position:absolute;
    border:solid black 0px;
    top:20%;
    right:25%;
    bottom:25%;
    left:25%;
    padding:25px;
    margin:25px;
    }
    
.greeting{
  font-size: xx-large;
  vertical-align: sub;
  align: center;
}

#signIn{
  width: 100%;
  text-align: right;
}

#signIn a{
  padding-right: 1em;
}
</style>

<!-- TODO: add sign out -->
<div id="signIn">
{% if user_name %}
  <h1>Logged in as {{ user_name }}</h1>
  <A HREF="/signout">Sign out</A>
{% else %}
 <h1>Login</h1>
  <form method="post" action=".">    
    <div>Username</div>
    <input type="text" name="username"/>
    <div>Password</div>
    <input type="password" name="password"/>
    <div><input type="submit" value="Login"/></div>    
  </form>
  <A HREF="/register">Sign up</A>
{% endif %}
</div>

<div id="box">
  <p class="greeting">
    {% if user_name %}
      What are you having today, {{ user_name }}?
    {% else %}
      What are you having today, %username%?
    {% endif %}
  </p>
</div>

</body>
</html>
