{% extends "base.html" %}

{% block top %}
<div id="signIn">
  {% if user_name %}
    <A HREF="/signout">Sign out</A>
  {% else %}
    <A HREF="/login">Sign in</A>
    <A HREF="/register">Sign up</A>
  {% endif %}
</div> 
{% endblock %}

{% block content %}   
    <p class="greeting">
      {% if user_name %}
        What are you having today, {{ user_name }}?
      {% else %}
        What are you having today, %username%?
      {% endif %}
    </p>   
    
    <img src="images/main.jpg"/>  
{% endblock %}