{% extends "base.html" %}

{% block content %}
  <h1>Welcome back!</h1>
  <div class="account">
    <form method="post">    
    <fieldset>          
      <div>
      <label for="username">Username</label>
      <input type="text" name="username" value="{{ user_name }}"/>
      </div>
      
      <div>
      <label for="password">Password</label>
      <input type="password" name="password" value="{{ password }}"/>
      </div>
      
      {% ifequal login "fail" %}
        <div class="error">Login failed. Wrong password or username</div>
      {% endifequal %}
        
      <input type="submit" value="Log in"/>          
    </fieldset>
    </form>
 <div class="account">

{% endblock %}