{% extends "base.html" %}

{% block content %}
  <h1>Sign up is easy!</h1>    
  <div class="account">
  <form method="post">                
    <fieldset>
    <div>
    <label for="user_name">Username</label>
    <input type="text" name="user_name" value="{{model.user_name|escape}}"/>
    {% if model.user_name_empty%}    
    <span class="error">please provide user name</span>
    {% endif %}
    </div>
    
    <div>
    <label for="email">Email</label>
    <input type="text" name="email" value="{{model.email|escape}}"/>
    {% if model.email_invalid%}    
    <span class="error">please enter a valid email</span>
    {% endif %}
    </div>
    
    <div>
    <label for="password">Password</label>
    <input type="password" name="password"/>    
    {% if model.password_empty%}    
    <span class="error">please enter a password</span>
    {% endif %}
    </div>
    
    <div>
    <label for="confirm_password">Confirm password</label>    
    <input type="password" name="confirm_password"/>    
    {% if model.passwords_dont_match%}    
    <span class="error">confirmation doesn't match</span>
    {% endif %}
    </div>
    
    <div><input type="submit" value="Register"/></div>    
    </fieldset>
  </form>
  </div>
{% endblock %}